@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WebDoctor</h1>
    <p class="lead">Тут текст для приглашения в клинику</p>
    <p><a class="btn btn-primary btn-lg">Это кнопка для записи к врачу</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Какие нибудь услуги</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Какие нибудь услуги</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book
        </p>
    </div>
    <div class="col-md-4">
        <h2>Какие нибудь услуги</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book
        </p>
    </div>
</div>